body {
    background-color: #222222;
    color: #eee9f5;
    font-family: 'Optima', sans-serif;
}

.head-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100px;
    background-color: #226666;
    overflow: hidden;
}

#header-text {
    float: left;
    margin-left: 5%;
    margin-top: 30px;
}

nav.nav-menu {
    float: right;
    margin-right: 7%;
    margin-top: 17px;
}

#ext-link-icon {
    font-size: 15px;
}

nav.nav-menu li{
    display: inline-block;
    font-size: 24px;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 12px;
    margin-right: 12px;
    border-top: 2px solid #804515;
    color: #f2e7fe;
}

nav [aria-current=page]{
    box-shadow: 0 -3px 0 #AA6C39;
  }

nav.nav-menu li:hover {
    box-shadow: 0 -3px 0 #AA6C39;
}

nav.nav-menu a{
    color: #f2e7fe;
    text-decoration: none;
}

#projects-container-A {
    clear: both;
    margin-top: 140px;
    margin-left: 7%;
    width: 90%;
    height: 600px;
}

#projects-container-B {
    clear: both;
    margin-top: -45px;
    margin-left: 7%;
    width: 90%;
    height: 600px;
}

.project-wrapper {
    float:left;
    margin-top: 3%;
    margin-left: 4.5%;
    margin-right: 3%;
    margin-bottom: 40px;
    width: 400px;
    height: 350px;
    width: 510px;
    height: 80%;
    background-color: #2e2e2e;
    border-radius: 25px;
    outline: 3px #003333 solid;
}

.project-wrapper:hover {
    box-shadow: 0px 0px 5px 5px #0D4D4D;
}

.bio-wrapper {
    clear: both;
    margin-top: 150px;
    margin-left: 9%;
    width: 80%;
    height: 525px;
    background-color: #2e2e2e;
    border-radius: 25px;
    outline: #003333 solid;
    overflow-y:auto;
}

.contact-wrapper {
    margin-top: 200px;
    margin-left: 14%;
    width: 70%;
    height: 220px;
    background-color: #2e2e2e;
    border-radius: 25px;
    outline: #003333 solid;
}

.project-title {
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 27px;
    font-weight: bold;
    line-height: 1.3;
}

.title-detail-separator {
    margin-top: -9px;
    margin-left: 16px;
    width: 90%;
    height: 2px;
    background-color: #804515;
    box-shadow: 1px 1px 1px 1px #552700;
}

.project-detail {
    margin-left: 25px;
    margin-right: 24px;
    font-size: 19px;
    line-height: 1.3;
}

.learn-more-button {
    float: right;
    margin-right: 21px;
    margin-top: -10px;
    color: #eee9f5;
    text-decoration: none;
    text-shadow: 0px 0px 1px #eee9f5;
    background-color: #353535;
    border: 2px solid #552700;
    border-radius: 12%;
    box-shadow: 0px 0px 2px 1px #804515;
    padding: 10px;
}

.learn-more-button:hover {
    background-color: #545454;
    box-shadow: 0px 0px 2px 3px #804515;
}

#modal-1 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_window {
    position: relative;
    margin-top: 40px;
    width: 72%;
    height: 75%;
    background-color: #383838;
    padding: 30px;
    border-radius: 30px;
    border: 2px solid #222222;
    overflow-y: auto;
}
  
.modal_close {
    float:right;
    margin-right: -5px;
    margin-top: -10px;
    color: #eee9f5;
    text-decoration: none;
    font-size: 40px;
}

.modal_close:hover{
    color:#ffdfe1;
}

#modal-1:not(:target) {
    visibility: hidden;
    opacity: 0;
}

.text-poster-wrapper {
    margin-top: 50px;
    width: 100%;
    height: 90%;
}

.modal-title {
    margin-top: 20px;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 26px;
    font-weight: bold;
}

.modal-detail {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 55%;
    line-height: 1.3;
}

.poster-link {
    width: 32%;
	height: 95%;
	display: block;
	margin: auto;
    margin-right: 70px;
    margin-top: -34px;
    border-radius: 10px;
}

.project-poster {
    width: auto;
	height: 100%;
    border: 6px solid #2e2e2e;
    border-radius: 10px;
}

.project-poster:hover{
    border: 5px solid #AA6C39;
    box-shadow: 1px 1px 5px 5px #2e2e2e;
}

.bio-heading {
    padding-top: 5px;
    margin-left: 57px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    font-weight: bold;  
}

.separator-bio-contact {
    margin-top: -20px;
    margin-left: 60px;
    width: 15%;
    height: 2px;
    background-color: #804515;
    box-shadow: 1px 1px 1px 1px #552700;
}

.bio-content {
    margin-top: 25px;
    margin-left: 55px;
    width: 90%;
    line-height: 1.4;
    font-size: 17px;
}

.contact-heading {
    padding-top: 30px;
    margin-left: 52px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    font-weight: bold;
}

.contact-content {
    margin-top: 17px;
    margin-left: 57px;
    line-height: 2;
}

#modal-2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-2:not(:target) {
    visibility: hidden;
    opacity: 0;
}

#modal-3 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-3:not(:target) {
    visibility: hidden;
    opacity: 0;
}

#modal-4 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-4:not(:target) {
    visibility: hidden;
    opacity: 0;
}

.project-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
	height: auto;
    margin-top: 22px;
    border: 7px solid #302f2f;
    border-radius: 27px;
}

.project-thumbnail:hover{
    border: 3px solid #c21807;
    box-shadow: 1px 1px 8px 12px #2e2e2e;
}